<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Login | CMU</title>
  </head>
  <body>
    <h3>Silahkan masukkan Username dan Password</h3>
    <br><br>
    <h4><%= msg %></h4>
    <br><br>
    <form class="" action="/login" method="post">
      <label for="username">
        <input type="text" name="username" placeholder="username">
      </label>
      <br><br>
      <label for="password">
        <input type="password" name="password" placeholder="password">
      </label>
      <br><br>
      <input type="submit" value="Sign In!">
    </form>
  </body>
</html>
